<section id="about">
    <div class="container">
        <div class="row">
            <article class="col-md-10 col-sm-12 col-md-offset-1">
                <h2><span><em>About</em></span></h2>
                <h3 class="slogan">"A simple guy seeking a simple living making creative things and helping creative beings."</h3>
                <div class="row">
                  <p class="col-sm-6">
                    Paraphrasing one of my favorite designers who put it so elegantly on his personal portfolio site, <strong> "Travis is trying to grow up, but instead spends his time making websites" </strong> LOL that about sums me up. I'm a self taught developer, designer and photographer that probably loves design more. I'm a lover of Ralph Waldo Emerson's "Nature and Other Essays" so I firmly believe that beauty is the driving force of the human mind. I think that's important to note because I take the beauty of design from how "Elegant" my code is down the very last pixel of my Photoshop Mock-Up to Web Design Strategy. The practice of "Beauty" in all things makes me a very happy camper so I'm going to keep doing it.
                  </p>
                  <p class="col-sm-6">At my company <a href="http://impactstud.io">impactstud.io</a> we are striving hard to bring beautiful websites to small businesses and making sure that those websites are getting the attention they deserve. If you're in need of a good design please do not hesitate to <a href="mailto:jwodke@outlook.com">get in touch with me :-)</a> I'm really nice but just a little goofy sometimes. In case your interested, in my free time I enjoy chilling with my lovely wife, hiking, snowboarding, working out (outside), taking landscape photographs and spending time with the homies. PEACE X-D </p>
                </div>
            </article>
            <!-- col-md-6 col-sm-12 portfolio -->
        </div>
        <!-- row -->
    </div>
    <!--  container -->
</section>
