<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-md-offset-1">
                <h2><span><em>Contact</em></span></h2>
                <p>I'm always looking to broaden my horizons.</p>
                <span><a id="contact-button" href="mailto:jwodke@outlook.com" role="button">Shoot me an Email</a></span>
            </div>
            <!-- col-md-6 col-sm-12 -->
        </div>
        <!-- row -->
    </div>
    <!--  container -->
</section>
<footer>
    <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-keyboard-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-hand-spock-o fa-2x" aria-hidden="true"></i>
    <span>2016 Copyright&copy;</span>
</footer>