<header class="row">
    <div class="col-md-12 header">
        <img id="menu-trigger" src="assets/images/hamburger.png" alt="Open menu">
        <div class="header-content">
            <nav>
                <h2>Where to?..</h2>
                <ul>
                    <li><a title="blog posts" href="/blog">Blog</a></li>
                    <li><a title="resume" href="{{site.baseurl}}/resume.html">Resume</a></li>
                </ul>
            </nav>
            <img src="assets/images/Jeremiah-Wodke-Wed-Developer-Colorado.jpg" alt="Jeremiah Wodke logo" />
            <h1>Jeremiah Wodke</h1>
            <p>A Naturalist Photographer who also loves <span>Programming</span>.</p>
            <ul>
                <li class="social-icons"><a href="https://www.facebook.com/JeremiahWodkePhotography/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="social-icons"><a href="http://jeremiahwodkephotography.tumblr.com/"><i class="fa fa-tumblr-square fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="social-icons"><a href="https://www.linkedin.com/in/jeremiah-wodke-1b3532102"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="social-icons"><a href="https://github.com/JWizerd"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <!-- header content -->
    </div>
    <!-- col-md-12 -->
</header>