<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jeremiah Wodke: A Minimalist Who Loves Elegant Design</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- HTML Validator "claims" this Google Font Link is invalid because of the | character. But, I need this in my file for my main header font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono:400,700|Amatic+SC" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
</head>

<body>    
  <!-- HEADER / HERO -->
    {% include header.html %}
  <!-- PORTFOLIO / MAIN CONTENT -->
    <main>
      {{content}}
    </main>
  <!-- Footer -->
    {% include footer.html %}
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/jquery.min.js"></script>
</body>

</html>