<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jeremiah Wodke: A Minimalist Who Loves Elegant Design</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <!-- HTML Validator "claims" this Google Font Link is invalid because of the | character. But, I need this in my file for my main header font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono:400,700|Amatic+SC" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/gif" sizes="16x16">
</head>

  <body>
    <section class="post">
        <div class="container">
            <div class="row">
                <main class="col-md-10 col-sm-12 col-md-offset-1">
                    <h2><span><em>{{page.title}}</em></span></h2>
                    {{content}}
                </main><!-- col-md-10 col-sm-12 col-md-offset-1 post -->
            </div>
            <!-- row -->
        </div>
        <!--  container -->
        <nav class="blog-nav">
          <ul>
            <li><a href="{{site.baseurl}}/"> HOME</a></li>
            <li><a href="{{site.baseurl}}/blog"> MORE POSTS</a></li>
            <li><a href="{{site.baseurl}}/resume"> RESUME</a></li>
          </ul>
        </nav>
    </section>
    <!-- Footer -->
    <div>
      {% include footer.html %}
    </div>
    <script src="{{site.baseurl}}/assets/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/custom.js"></script>
  </body>

</html>
